<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.OTHER_SENSORS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.health.READ_SLEEP" />
    <uses-permission android:name="android.permission.health.WRITE_SLEEP" />
    <uses-permission android:name="android.permission.health.READ_NUTRITION" />
    <uses-permission android:name="android.permission.health.WRITE_NUTRITION" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <queries>
        <package android:name="com.google.android.apps.healthdata" />
        <package android:name="com.google.android.healthconnect.controller" />
        <package android:name="com.android.vending" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_v2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_v2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SleepTracker">
        <service
            android:name=".SleepTrackingService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Sleep tracking by monitoring screen state" />
        </service>
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ReminderReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".ServiceSchedulerReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="START_SERVICE" />
                <action android:name="STOP_SERVICE" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".SleepDataLogger"
            android:exported="true" />
        <activity
            android:name=".OnboardingActivity"
            android:exported="true"
            android:permission="com.google.android.apps.healthdata.permission.START_ONBOARDING">
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_ONBOARDING" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="UAndAboveOnboardingActivity"
            android:exported="true"
            android:targetActivity=".OnboardingActivity"
            android:permission="android.permission.health.START_ONBOARDING">
            <intent-filter>
                <action android:name="android.health.connect.action.SHOW_ONBOARDING" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="PermissionsRationaleActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:targetActivity=".OnboardingActivity">
            <!-- TODO: Add intent filter to handle permission rationale intent -->
            <!-- Permission handling for Android 13- -->
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
            </intent-filter>

            <!-- Permission handling for Android 14+ -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE"/>
                <category android:name="android.intent.category.HEALTH_PERMISSIONS"/>
            </intent-filter>

        </activity-alias>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SleepTracker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Privacy Policy / Permission Usage Handler -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>